.advantages {
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  background-color: #e3ecf6;
  background-image: url("../img/bg_advantages_desktop_1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg_advantages_desktop_2x.png");
  }
}

.advantages__container {
  display: flex;
  flex-direction: column;
  padding-top: 110px;
  padding-right: 7.54%; // 103px / 1366px * 100%
  padding-bottom: 121px;
  padding-left: 7.54%; // 103px / 1366px * 100%
  max-width: 1366px;
  margin-right: auto;
  margin-left: auto;
}

.advantages h2 {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  text-align: center;
  color: #011c40;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantage {
  width: 31.03%; // 360px / 1160px * 100%

  background: #f9fbfd;

  &:nth-child(n + 4) {
    margin-top: 30px;
  }
}

.advantage__container {
  padding-top: 30px;
  padding-right: 8.33%; // 30px / 360px * 100%
  padding-bottom: 25px;
  padding-left: 8.33%; // 30px / 360px * 100%
}

.advantage__icon {
  height: 32px;
}

.advantage__icon--liner {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 27px;
    height: 32px;
    background-image: url("../img/icon-liner.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.advantage__icon--checks {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 38px;
    height: 32px;
    background-image: url("../img/icon-two-checks.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.advantage__icon--ship {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 42px;
    height: 32px;
    background-image: url("../img/icon-ship.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.advantage h3 {
  margin-top: 20px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #011c40;
}

.advantage p {
  margin: 0;

  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #011c40;
}

@media (max-width: $tablet-width) {
  .advantages {
    background-image: url("../img/bg_advantages_tablet_1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg_advantages_tablet_2x.png");
    }
  }

  .advantages__container {
    padding-top: 90px;
    padding-right: 5.86%; // 45px / 768px * 100%
    padding-bottom: 101px;
    padding-left: 5.86%; // 45px / 768px * 100%
  }

  .advantages h2 {
    font-size: 26px;
  }

  .advantage {
    width: 30.38%; // 206px / 678px * 100%
  }

  .advantage__container {
    padding-top: 25px;
    padding-right: 7.28%; // 15px / 206px * 100%
    padding-bottom: 25px;
    padding-left: 7.28%; // 15px / 206px * 100%
  }

  .advantage__icon {
    height: 26px;
  }

  .advantage__icon--liner {
    &::after {
      width: 21px;
      height: 26px;
      background-size: 21px 26px;
    }
  }

  .advantage__icon--checks {
    &::after {
      width: 33px;
      height: 26px;
      background-size: 33px 19px;
    }
  }

  .advantage__icon--ship {
    &::after {
      width: 38px;
      height: 26px;
      background-size: 38px 13px;
    }
  }

  .advantage h3 {
    line-height: 140%;
  }
}

@media (max-width: $mobile-width) {
  .advantages {
    background-image: url("../img/bg_advantages_mobile_1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg_advantages_mobile_2x.jpg");
    }
  }

  .advantages__container {
    padding-top: 57px;
    padding-right: 4.69%; // 15px / 320px * 100%
    padding-bottom: 64px;
    padding-left: 4.69%; // 15px / 320px * 100%
  }

  .advantages h2 {
    margin-bottom: 30px;

    font-size: 24px;
  }

  .advantages__list {
    flex-direction: column;
  }

  .advantage {
    width: 100%;
    min-height: 250px;

    &:nth-child(n + 4) {
      margin-top: 0;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  .advantage__container {
    padding-bottom: 22px;
  }

  .advantage h3 {
    margin-right: 50px;
    margin-bottom: 11px;
  }
}
