.cruise {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 386px;
  padding-top: 29px;
  padding-right: 25px;
  padding-bottom: 22px;
  padding-left: 30px;

  &:hover,
  &:focus {
    justify-content: flex-start;
    padding-bottom: 35px;
    padding-left: 25px;

    background: #011c40;
    box-shadow: 0 4px 35px rgba(1, 28, 64, 0.15);
  }
}

.cruise--astoria,
.cruise--eline {
  background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%), url("../img/cruis_astoria_desktop_1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%), url("../img/cruis_astoria_desktop_2x.jpg"), cover;
  }
}

.cruise--atlantis {
  background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%), url("../img/cruis_atlantis_desktop_1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%), url("../img/cruis_atlantis_desktop_2x.jpg"), cover;
  }
}

.cruise--odysseus {
  background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%), url("../img/cruis_odysseus_desktop_1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%), url("../img/cruis_odysseus_desktop_2x.jpg"), cover;
  }
}

.cruise--olympia {
  background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%), url("../img/cruis_olympia_desktop_1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%), url("../img/cruis_olympia_desktop_2x.jpg"), cover;
  }
}

.cruise--aurora {
  background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%), url("../img/cruis_aurora_desktop_1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%), url("../img/cruis_aurora_desktop_2x.jpg"), cover;
  }
}

.cruise--leonor {
  background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%), url("../img/cruis_leonor_desktop_1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%), url("../img/cruis_leonor_desktop_2x.jpg"), cover;
  }
}

.cruise--minion {
  background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%), url("../img/cruis_minion_desktop_1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%), url("../img/cruis_minion_desktop_2x.jpg"), cover;
  }
}

.cruise h3 {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #f9fbfd;
}

.cruise:hover h3 {
  margin-bottom: 14px;
}

.cruise__section {
  display: none;
  margin-top: 0;
  margin-bottom: 12px;
}

.cruise__section h4 {
  margin-top: 0;
  margin-bottom: 3px;

  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #f9fbfd;
}

.cruise__section p {
  margin: 0;

  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #d8d8d9;
}

.cruise__button {
  display: none;
  align-self: center;
  margin-top: 10px;
  padding-top: 9.5px;
  padding-right: 46.5px;
  padding-bottom: 9.5px;
  padding-left: 46.5px;

  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #011c40;

  background: #f9fbfd;
  border: none;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.cruise:hover .cruise__section {
  display: block;
}

.cruise:hover .cruise__button {
  display: block;
}

@media (max-width: $tablet-width) {
  .cruise {
    padding-bottom: 27px;
    padding-left: 35px;

    &:hover {
      padding-left: 35px;
    }
  }

  .cruise--astoria,
  .cruise--eline {
    background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%), url("../img/cruis_astoria_tablet_1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%), url("../img/cruis_astoria_tablet_2x.jpg"), cover;
    }
  }

  .cruise--atlantis {
    background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%), url("../img/cruis_atlantis_tablet_1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%), url("../img/cruis_atlantis_tablet_2x.jpg"), cover;
    }
  }

  .cruise--odysseus {
    background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%), url("../img/cruis_odysseus_tablet_1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%), url("../img/cruis_odysseus_tablet_2x.jpg"), cover;
    }
  }

  .cruise--olympia {
    background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%), url("../img/cruis_olympia_tablet_1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%), url("../img/cruis_olympia_tablet_2x.jpg"), cover;
    }
  }

  .cruise--aurora {
    background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%), url("../img/cruis_aurora_tablet_1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%), url("../img/cruis_aurora_tablet_2x.jpg"), cover;
    }
  }

  .cruise--leonor {
    background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%), url("../img/cruis_leonor_tablet_1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%), url("../img/cruis_leonor_tablet_2x.jpg"), cover;
    }
  }

  .cruise--minion {
    background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%), url("../img/cruis_minion_tablet_1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%), url("../img/cruis_minion_tablet_2x.jpg"), cover;
    }
  }

  .cruise__button {
    padding-right: 61.5px;
    padding-left: 61.5px;
    align-self: flex-start;
  }
}

@media (max-width: $mobile-width) {
  .cruise {
    padding-bottom: 17px;
    padding-left: 25px;

    &:hover,
    &:focus {
      padding-left: 25px;
    }
  }

  .cruise--astoria,
  .cruise--eline {
    background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%), url("../img/cruis_astoria_mobile_1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%), url("../img/cruis_astoria_mobile_2x.jpg"), cover;
    }
  }

  .cruise--atlantis {
    background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%), url("../img/cruis_atlantis_mobile_1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%), url("../img/cruis_atlantis_mobile_2x.jpg"), cover;
    }
  }

  .cruise--odysseus {
    background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%), url("../img/cruis_odysseus_mobile_1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%), url("../img/cruis_odysseus_mobile_2x.jpg"), cover;
    }
  }

  .cruise--olympia {
    background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%), url("../img/cruis_olympia_mobile_1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%), url("../img/cruis_olympia_mobile_2x.jpg"), cover;
    }
  }

  .cruise--aurora {
    background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%), url("../img/cruis_aurora_mobile_1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%), url("../img/cruis_aurora_mobile_2x.jpg"), cover;
    }
  }

  .cruise--leonor {
    background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%), url("../img/cruis_leonor_mobile_1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%), url("../img/cruis_leonor_mobile_2x.jpg"), cover;
    }
  }

  .cruise--minion {
    background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%), url("../img/cruis_minion_mobile_1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%), url("../img/cruis_minion_mobile_2x.jpg"), cover;
    }
  }

  .cruise__button {
    padding-right: 53.5px;
    padding-left: 51.5px;
  }
}
