.intro {
  display: flex;
  flex-direction: column;
  padding-top: 197px;
  padding-right: 7.540263543191801%; // 103px / 1366px * 100%
  padding-bottom: 278px;
  padding-left: 14.49487554904832%; // 198px / 1366px * 100%
}

.intro__title {
  margin-top: 0;
  margin-bottom: 12px;

  font-weight: bold;
  font-size: 54px;
  line-height: 66px;
  color: #f9fbfd;
}

.intro__text {
  margin: 0;

  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #f9fbfd;
}

@media (max-width: $tablet-width) {
  .intro {
    padding-top: 218px;
    padding-right: 5.859375%; // 45px / 768px * 100%
    padding-left: 5.859375%; // 45px / 768px * 100%
    padding-bottom: 275px;
  }

  .intro__title {
    margin-bottom: 12px;

    font-size: 50px;
    line-height: 61px;
  }

  .intro__text {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: $mobile-width) {
  .intro {
    padding-top: 135px;
    padding-right: 4.6875%; // 15px / 320px * 100%
    padding-left: 4.6875%; // 15px / 320px * 100%
    padding-bottom: 179px;
  }

  .intro__title {
    margin-bottom: 10px;

    font-size: 36px;
    line-height: 125%;
  }

  .intro__text {
    font-size: 16px;
    line-height: 140%;
  }
}
