.journey {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1366px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 118px;
  padding-right: 7.540263543191801%; // 103px / 1366px * 100%
  padding-bottom: 118px;
  padding-left: 7.540263543191801%; // 103px / 1366px * 100%
}

.journey__container {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 65px;
}

.journey h2 {
  margin-top: 0;
  margin-bottom: 27px;

  font-weight: 600;
  font-size: 28px;
  line-height: 36.4px;
  color: #011c40;
}

.journey p {
  margin: 0;

  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #011c40;
}

.journey__image {
  flex: 1 0 auto;
  width: 48.27586206896552%; // 560px / 1160px * 100%
}

@media (max-width: $tablet-width) {
  .journey {
    padding-top: 90px;
    padding-right: 5.859375%; // 45px / 768px * 100%
    padding-bottom: 92px;
    padding-left: 5.859375%; // 45px / 768px * 100%
  }

  .journey__container {
    margin-right: 30px;
  }

  .journey h2 {
    margin-right: 100px;
    margin-bottom: 17px;

    font-size: 26px;
    line-height: 140%;
  }

  .journey__image {
    width: 47.78761061946903%; // 324px / 678px * 100%
  }
}

@media (max-width: $mobile-width) {
  .journey {
    flex-direction: column;
    padding-top: 57px;
    padding-right: 4.6875%; // 15px / 320px * 100%
    padding-bottom: 60px;
    padding-left: 4.6875%; // 15px / 320px * 100%
  }

  .journey__container {
    margin-right: 0;
    margin-bottom: 40px;
  }

  .journey h2 {
    font-size: 24px;
    line-height: 140%;
  }

  .journey__image {
    width: 100%;
    margin-top: -6px;
    text-align: center;
  }
}
