.page-header {
  flex: 0 0 auto;
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  background-color: #3a679a;
  background-image: url("../img/bg_intro_desktop_1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg_intro_desktop_2x.jpg");
  }
}

.page-header__container {
  max-width: 1366px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 35px;
  padding-right: 7.54%; // 103px / 1366px * 100%
  padding-left: 7.54%; // 103px / 1366px * 100%
}

.page-header__logo {
  width: 70px;
  height: 38px;
}

.page-header__logo svg {
  width: 100%;
  height: auto;
}

.page-header__toggle {
  display: none;
}


@media (max-width: $tablet-width) {
  .page-header {
    background-image: url("../img/bg_intro_tablet_1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg_intro_tablet_2x.jpg");
    }
  }

  .page-header__container {
    padding-top: 30px;
    padding-right: 5.86%; // 45px / 768px * 100%
    padding-left: 5.86%; // 45px / 768px * 100%
  }

  .page-header__logo {
    width: 38px;
    height: 20px;
  }
}

@media (max-width: $mobile-width) {
  .page-header {
    background-image: url("../img/bg_intro_mobile_1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg_intro_mobile_2x.jpg");
    }
  }

  .page-header--opened {
    position: relative;
    z-index: 2;
    background: none;
  }

  .page-header--nojs {
    background-position-y: 276px;
  }

  .page-header--opened .page-header__container,
  .page-header--nojs .page-header__container {
    align-items: flex-start;
    background-color: #f9fbfd;
  }

  .page-header--opened .page-header__container {
    position: fixed;
    width: 100%;
  }

  .page-header__container {
    flex-wrap: wrap;
    padding-top: 20px;
    padding-right: 4.69%; // 15px / 320px * 100%
    padding-left: 4.69%; // 15px / 320px * 100%
  }

  .page-header__logo {
    width: 42px;
    height: 22px;
    margin-right: 40px;
  }

  .page-header--opened path,
  .page-header--nojs path {
    fill: #011c40;
  }

  .page-header--closed .page-header__toggle {
    display: block;
    width: 24px;
    height: 12px;

    background-color: transparent;
    background-image: url("../img/icon-burger.svg");
    background-size: 20px auto;
    border: 0;
    cursor: pointer;
  }

  .page-header--opened .page-header__toggle {
    display: block;
    width: 13px;
    height: 13px;
    margin-top: 5px;

    background-color: transparent;
    background-image: url("../img/icon-cross.svg");
    background-size: 13px auto;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
  }

  .page-header--nojs .page-header__toggle {
    display: none;
  }

  .page-header--closed .nav {
    display: none;
  }

  .page-header--nojs .nav {
    display: block;
  }

  .page-header--opened .nav,
  .page-header--nojs .nav {
    width: 100%;
  }

  .page-header--opened .nav__list-item,
  .page-header--nojs .nav__list-item {
    padding-bottom: 21px;

    &:last-child {
      padding-bottom: 60px;
    }
  }

  .page-header--opened + .page-main,
  .page-header--opened + .page-main + .page-footer {
    display: none;
  }
}
